name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: Alibaba Cloud Linux 3.2104 U12.2
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: |
        behave --f behave_html_formatter:HTMLFormatter
#  deploy:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: Deploy to Heroku
#      uses: akhileshns/heroku-deploy@v3.12.12 # 使用Heroku部署动作
#      with:
#        heroku_api_key: ${{ secrets.HEROKU_API_KEY }} # 在GitHub仓库的Settings -> Secrets中设置API key和app name
#        heroku_app_name: ${{ secrets.HEROKU_APP_NAME }} # Heroku应用名
#        heroku_email: ${{ secrets.HEROKU_EMAIL }} # Heroku邮箱地址，可选，但不是必须的。如果设置了，Heroku会将此邮箱地址设置为应用的默认管理员邮箱。









